include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include pygapi *.css
recursive-include pygapi *.csv
recursive-include pygapi *.html
recursive-include pygapi *.ico
recursive-include pygapi *.js
recursive-include pygapi *.json
recursive-include pygapi *.md
recursive-include pygapi *.png
recursive-include pygapi *.py
recursive-include pygapi *.svg
recursive-include pygapi *.txt
recursive-exclude pygapi *.pyc